.lgk-cookie-message {
	font-size: 14px;
	font-family: $font__heading !important;
	position: fixed !important;
}

$lgk-logo-size: 42px;
$lgk-logo-bg-size: $lgk-logo-size + (5px * 2);

.lgk-logo {
	position: fixed;
	z-index: 1000;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: $lgk-logo-size;
	height: $lgk-logo-size;
	transition: opacity 300ms ease-in-out;

	@include media(tablet) {
		bottom: 2.5rem;
	}

	&.hide {
		opacity: 0;
	}

	&.show {
		opacity: 1;
	}
}

.lgk-logo-bg {
	position: fixed;
	z-index: 1;
	background-color: white;
	border-radius: 50%;
	width: $lgk-logo-bg-size;
	height: $lgk-logo-bg-size;
	bottom: calc(1rem - 5px);
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 300ms ease-in-out;

	@include media(tablet) {
		bottom: calc(2.5rem - 5px);
	}

	&.hide {
		opacity: 0;
	}

	&.show {
		opacity: 1;
	}
}